mat-toolbar {
	height: 80px;
	background-color: #006494;
	color: #fff;
	position: fixed;
	top: 0;
  z-index: 999;

	h1 {
		margin: 0 0 0 10px;
		font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    font-size: 24px;
	}

	.logo  {
		width: 44px;
    height: 44px;
	}
}

.header--menu {
	margin: 0 0 0 30px;
	a {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		background: none;
		border: none;
		color: #fff;
		margin: 0 0 0 40px;
	}
	a:hover {
		border-bottom: 2px #fff solid;
	}
}

.header--user {
	margin: 0 0 0 42%;
	width: 36px;
  height: 36px;
}

.active {
  border-bottom: 2px #fff solid !important;

}
