.footer {
  bottom: 0;
  display: flex;
  justify-content: flex-end;
	background-color: #66666647;
  height: 150px;
  margin: 100px 0 0 0;

  div {
    display: contents;
  }

	span {
		font-family: 'Roboto Condensed', sans-serif;
		color: #000;
    font-size: 14px;
    margin: 110px 0 0 0;
	}

  img {
    width: 100px;
  }

  img#unicap {
    width: 150px;
    margin: 0 80px 0 40px;
  }

  img#porto {
    width: 150px;
    margin: 0 160px 0px -50px;
  }
}
