.footer {
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	background-color: #006494;
	height: 100px;
	margin-top: calc(40vh + 200px);

	div {
		display: flex;
		text-align: center;
		width: 66%;
	}

	label {
		font-size: 12px;
		color: #fff;
		font-weight: lighter;
		line-height: 22px;
	}

	span {
		font-family: 'Roboto Condensed', sans-serif;
		color: #fff;
		font-size: 14px;
		margin: 30px 0 0 0;
	}

	img {
		width: 100px;
	}

	img#unicap {
		margin: 0 100px 0 40px;
	}

	img#porto {
		margin: 0 260px 0px -50px;
	}
}
