<!DOCTYPE html>
<html>
<app-header></app-header>

<body>
  <h2 class="title">Meus anúncios</h2>
  <div class="my-ads">
    <ul>
      <li *ngFor="let item of myAds.anuncios">
        <div class="list--content">
          <img id="main" src="{{item.fotoLivro}}" />
          <div class="list--title" (click)="showDetails(item.id)">
            <mat-card-title>{{item.titulo}}</mat-card-title>
            <label>{{item.livro.titulo}}</label>
            <mat-card-subtitle>{{item.livro.disciplina.nome}}</mat-card-subtitle>

            <mat-card-content>
              <strong>
                R${{item.livro.valor}}
              </strong>
            </mat-card-content>
          </div>

          <select matNativeControl required (change)="updateStatus(item.id, $event)">
            <option value="{{item.anuncioStatus}}" *ngIf="item.anuncioStatus == 'DISPONIVEL' ||
             item.anuncioStatus == 'EM_NEGOCIACAO' || item.anuncioStatus == 'VENDIDO'">{{item.anuncioStatus}}</option>

            <option value="DISPONIVEL" *ngIf="item.anuncioStatus != 'DISPONIVEL'">DISPONÍVEL</option>
            <option value="EM_NEGOCIACAO" *ngIf="item.anuncioStatus != 'EM_NEGOCIACAO'">EM NEGOCIAÇÃO</option>
            <option value="VENDIDO" *ngIf="item.anuncioStatus != 'VENDIDO'">VENDIDO</option>
          </select>

          <img id="delete" src="../../../assets/delete.svg" (click)="alertDeleteAdvert(item.id)" />

        </div>
      </li>
    </ul>
  </div>
</body>
<app-footer></app-footer>

</html>
