li {
	list-style-type: none;
}

.title {
	margin: 140px 0 0 70px;
}

.my-ads {
	margin: 40px 0 0 0;
	img {
		width: 100px;
		margin: 0 50px 0 20px;
		border-radius: 20px 0 20px 0;
	}

	select {
    height: 50px;
    margin: 40px 30px 0 150px;
    -webkit-appearance: none;
    width: 150px;
    text-align: center;
    background-color: #666666d9;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
	}

  #delete {
    width: 35px;
    height: 25px;
    margin: 50px 0px 0px 20px;
    cursor: pointer;
  }
}

.list--content {
	margin: 20px 0 0 0;
	display: flex;
	width: 90%;
	padding: 10px;
}

.list--title {
	display: grid;
}

mat-card-title {
  font-size: 18px;
  width: 500px;
}
