.mat-card:not([class*=mat-elevation-z]) {
	box-shadow: none;
      background-color: #efefef;
}

li {
	list-style-type: none;
}

ul li {
	display: inline-block;
	padding-right: 4px;
}

mat-card {
	width: 200px;
  position: inherit;

	img {
		width: 150px;
		height: 100%;
		margin: 0 0 20px 0;
	}
}

mat-card-title,
mat-card-subtitle,
mat-card-content {
	font-family: 'Roboto Condensed', sans-serif;
	max-width: 150px;
	text-align: center;
}

mat-card-title {
	font-size: 18px;
}

mat-card-subtitle {
	margin: -4px 0 4px 0;
}
