body {
    margin: 140px 70px 0px 70px;
}

.form {
	margin: 40px 0 0 0;
}

.title {
  text-align: center;
}

// .list--content {
// 	margin: 20px 0 0 0;
// 	display: flex;
// 	width: 90%;
// 	padding: 10px;
// }

// .list--title {
// 	display: grid;
// }

// mat-card-title {
//   font-size: 18px;
// }
