/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

nav a {
	text-decoration: none;
}


body {
	background-color: #E8F1F2;
}

.title {
	font-family: 'Roboto', sans-serif;
}

button:disabled {
  background-color: #cccccc !important;
}
