.product-title {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	margin: 150px 0 20px 40px;
}

.details {
	display: flex;
	img {
		width: 200px;
		margin: 0 40px 0 40px;
	}

	div {
		max-width: 50%;
		margin: 0 80px 0 0px;
		display: grid;
		label {
			font-family: 'Scheherazade New', serif;
		}
	}
}

.product-purchase {
	div {
		display: flex;
		cursor: pointer;
	}

	label {
		cursor: pointer;
	}

	h2 {
		text-align: center;
		font-size: 30px;
		margin: 0 0 40px 0;
	}

	button {
		width: 200px;
		height: 64px;
		background-color: #000;
		color: #fff;
		border-radius: 10px;
		border: none;
		font-size: 20px;
		margin: -80px 0 0 0;
	}

	img {
		width: 30px;
		height: 30px;
		margin: 0 30px 0 24px;
	}
}
