.product-title {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	margin: 150px 0px 30px 116px;
	color: #13293d;
}

.details {
	display: flex;
	width: 80%;
	margin: 0 0 0 70px;
	img {
		width: 300px;
		max-height: 300px;
		margin: 0 40px 40px 40px;
		object-fit: cover;
	}
}

.book-infos {
	margin: -10px 100px 50px 0px;
	display: grid;
	width: 600px;
	padding: 0px 0 80px 0px;

	label {
		font-family: 'Scheherazade New', serif;
		margin: 10px 0 0 0;
	}
}

.product-purchase {
	margin: 20px 0 0 0;
	div {
		display: flex;
		cursor: pointer;
	}

	label {
		cursor: pointer;
    font-size: 16px;
	}

	h2 {
		font-size: 30px;
	}

	label#user--name {
		font-size: 20px;
		display: flex;
		color: #13293d;
		margin: 10px 0 40px 0;
	}

	button {
		width: 200px;
		height: 64px;
		background-color: #13293d;
		color: #fff;
		font-weight: bold;
		border-radius: 10px;
		border: none;
		font-size: 20px;
		margin: 10px 0 30px 0;
	}

	img {
		width: 30px;
		height: 30px;
		margin: 0 20px 0 24px;
	}

	.donation {
		width: 50px;
		height: 50px;
		margin: 0 0 10px 0;
	}
}

.advert--description {
	margin: 0px 0 0 110px;
	width: 100%;
}
