<!DOCTYPE html>
<html>
<app-header></app-header>

<body>
  <h2 class="product-title">{{detailsBook.titulo}}</h2>

  <div class="details">
    <img src="{{detailsBook.fotoLivro}}" />

    <div class="book-infos">
      <label><strong>Título: </strong>{{detailsBook.tituloDoLivro}}</label>
      <label><strong>Autor: </strong>{{detailsBook.autor}}</label>
      <label><strong>Ano: </strong>{{detailsBook.ano}}</label>
      <label><strong>Isbn: </strong>{{detailsBook.isbn}}</label>
      <label><strong>Editora: </strong>{{detailsBook.editora}}</label>

      <label><strong>Estado de uso: </strong>{{detailsBook.descricaoEstadoDoLivro}}</label>
      <label><strong>Disciplina: </strong> {{detailsBook.disciplina}}</label>
      <label><strong>Ano escolar: </strong>{{detailsBook.anoEscolar}}</label>

      <label><strong>Descrição: </strong>{{detailsBook.descricao}}</label>
    </div>

    <div class="product-purchase">
      <h2 *ngIf="!detailsBook.disponivelParaDoacao">R${{detailsBook.valor}}</h2>
      <img class="donation" *ngIf="detailsBook.disponivelParaDoacao" src="../../../assets/donation.png" />
      <button (click)="buyProduct()" *ngIf="!hiddenButtonWhatsapp">
        <div>
          <img src="../../assets/whatsapp.png" />
          <label *ngIf="!detailsBook.disponivelParaDoacao">Comprar</label>
          <label *ngIf="detailsBook.disponivelParaDoacao">Receber</label>
        </div>
      </button>
      <label *ngIf="!detailsBook.disponivelParaDoacao">Vendido por: </label>
      <label *ngIf="detailsBook.disponivelParaDoacao">Doado por: </label>
      <label id="user--name">{{detailsBook.nome}}</label>

    </div>

  </div>


</body>
<!-- <app-footer></app-footer> -->
</html>
