.header--banner {
  display: flex;
  justify-content: center;
	img {
		width: 80%;
		height: 300px;
		object-fit: cover;
		margin: 80px 0 0 0;
	}
}

.title {
	margin: 30px 0 0 150px;
}

.header--title--banner {
  font-size: 30px;
  width: 500px;
  background-color: #13293D;
  color: #fff;
  padding: 4px 0px 5px 40px;
  position: absolute;
  left: 26%;
  top: 30%;
  transform: translate(10%, 10%);
  line-height: 40px;
}

button {
	background-color: red;
	color: #fff;
}
