.box {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 80%;
    margin: auto;
    padding: 20px 50px;

}

.form-pesquisa{
    background-color: #006494;
    height: 100px;
}

.item {
    padding: 0 10px;
}

.titulo {
    flex-grow: 1;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}
